openapi: 3.1.0
info:
  title: aifn.run API
  version: 2.0.0
  description: Versioned AI functions with predictable text or JSON output. The unversioned function URL always resolves to the latest version.
servers:
  - url: https://aifn.run
paths:
  /auth/login:
    get:
      operationId: startLogin
      summary: Start the OIDC authorization-code flow
      parameters:
        - name: return_to
          in: query
          schema:
            type: string
      responses:
        "302":
          description: Redirect to the configured OIDC provider
  /auth/callback:
    get:
      operationId: completeLogin
      summary: Complete the OIDC authorization-code flow
      responses:
        "302":
          description: Redirect to the requested application page
        "400":
          description: Authentication failed
  /auth/session:
    get:
      operationId: getSession
      summary: Get the current application session
      responses:
        "200":
          description: Current session or null profile
  /auth/logout:
    post:
      operationId: logout
      summary: End the current application session
      responses:
        "302":
          description: Redirect to the landing page
  /api/fn:
    get:
      operationId: listFunctions
      summary: List public functions and the authenticated account's private functions
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          description: Maximum page size is 50
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
        - name: visibility
          in: query
          description: Set to all to require authentication; otherwise visibility is session-aware.
          schema: { type: string, enum: [all] }
      responses:
        "200":
          description: Paginated functions visible to the current account; owned private functions appear first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionPage"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
    post:
      operationId: createFunction
      summary: Create a function at version 1
      requestBody:
        $ref: "#/components/requestBodies/FunctionInput"
      responses:
        "200":
          description: Existing owned function reused for the same prompt hash
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionReference"
        "201":
          description: Function created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionVersion"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
  /api/providers:
    get:
      operationId: listProviders
      summary: List providers owned by the authenticated account
      responses:
        "200":
          description: Providers; secrets are redacted
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
    put:
      operationId: saveProvider
      summary: Create or update a provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, url]
              properties:
                slug: { type: string }
                url: { type: string, format: uri }
                defaultModel: { type: string }
                key: { type: string, writeOnly: true }
      responses:
        "200":
          description: Saved provider metadata without the secret
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
  /api/fn/{functionId}:
    parameters:
      - $ref: "#/components/parameters/FunctionId"
    get:
      operationId: getLatestFunction
      summary: Get the latest function version
      responses:
        "200":
          description: Latest function version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionVersion"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
    put:
      operationId: createFunctionVersion
      summary: Create the next function version
      requestBody:
        $ref: "#/components/requestBodies/FunctionInput"
      responses:
        "201":
          description: New immutable function version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionVersion"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
    delete:
      operationId: deleteFunction
      summary: Delete a function and its versions
      responses:
        "204":
          description: Function deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
  /api/fn/{functionId}.js:
    get:
      operationId: getFunctionModule
      summary: Get an ES module that calls a function UUID
      parameters:
        - $ref: "#/components/parameters/FunctionId"
      responses:
        "200":
          description: JavaScript ES module
          content:
            text/javascript:
              schema:
                type: string
  /fn/{functionId}.mjs:
    get:
      operationId: getPublicFunctionModule
      summary: Get an ES module for a public function
      description: Public modules are CORS-enabled and can be imported in browsers. Save the module locally to import it from Node.js.
      parameters:
        - $ref: "#/components/parameters/FunctionId"
      responses:
        "200":
          description: JavaScript ES module
          content:
            text/javascript:
              schema: { type: string }
        "404":
          $ref: "#/components/responses/NotFound"
  /api/fn/{functionId}/{version}:
    parameters:
      - $ref: "#/components/parameters/FunctionId"
      - $ref: "#/components/parameters/Version"
    get:
      operationId: getFunctionVersion
      summary: Get an immutable function version
      responses:
        "200":
          description: Function version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionVersion"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/run/{functionId}:
    parameters:
      - $ref: "#/components/parameters/FunctionId"
      - name: version
        in: query
        description: Optional immutable version. Omit it to run the latest version.
        schema:
          type: integer
          minimum: 1
    post:
      operationId: runFunction
      summary: Run the latest or selected function version
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunInput"
          text/plain:
            schema:
              type: string
      responses:
        "200":
          description: Function result. JSON functions return application/json; text functions return text/plain.
          content:
            application/json: {}
            text/plain:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Provider request failed; includes the upstream status and response body.
components:
  parameters:
    FunctionId:
      name: functionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Version:
      name: version
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
  requestBodies:
    FunctionInput:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FunctionInput"
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Function or version not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    FunctionInput:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
          description: Instruction sent to the completion provider. Use {name} markers for input values.
        name:
          type: string
        model:
          type: string
          description: OpenAI-compatible model name. Ollama model names are also supported.
        providerSlug:
          type: string
          description: Select an account provider by its slug. Empty uses the server default.
        format:
          type: string
          enum: [chat, prompt]
          default: chat
        output:
          $ref: "#/components/schemas/OutputMode"
        public:
          type: boolean
          default: false
          description: Allow unauthenticated listing, reads, and execution.
        inputSchema:
          type: array
          items:
            type: object
            required: [name, type]
            properties:
              name:
                type: string
              type:
                type: string
                enum: [string, number, boolean]
        deduplicatePrompt:
          type: boolean
          default: false
          description: On prompt-only creation, reuse an existing function owned by this account with the same SHA-256 prompt hash.
    OutputMode:
      type: string
      enum: [text, json]
      default: json
      description: JSON asks the model for a JSON object and returns parsed JSON. Text returns the provider text unchanged.
    FunctionSummary:
      type: object
      required: [functionId, version, name, output]
      properties:
        functionId:
          type: string
          format: uuid
        version:
          type: integer
          minimum: 1
        name:
          type: string
        model:
          type: string
        provider:
          type: string
        output:
          $ref: "#/components/schemas/OutputMode"
        public:
          type: boolean
        inputSchema:
          type: array
          items:
            type: object
            required: [name, type]
            properties:
              name:
                type: string
              type:
                type: string
                enum: [string, number, boolean]
    FunctionPage:
      type: object
      required: [functions, page, pageSize, total, hasNext]
      properties:
        functions:
          type: array
          items:
            $ref: "#/components/schemas/FunctionSummary"
        page: { type: integer, minimum: 1 }
        pageSize: { type: integer, minimum: 1, maximum: 50 }
        total: { type: integer, minimum: 0 }
        hasNext: { type: boolean }
    FunctionReference:
      type: object
      required: [functionId]
      properties:
        functionId:
          type: string
          format: uuid
    FunctionVersion:
      allOf:
        - $ref: "#/components/schemas/FunctionSummary"
        - $ref: "#/components/schemas/FunctionInput"
    RunInput:
      type: object
      properties:
        inputs:
          description: Values substituted into prompt markers, or a string appended to the prompt.
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
    AuthenticationRequired:
      description: Authentication required for this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
            message:
              type: string
